<div class="flex flex-col w-fit h-fit bg-primary-100 bg-opacity-50 backdrop-blur-lg border border-primary-200 rounded-lg items-center">
  <button
    class="hover:bg-primary-100 rounded-lg p-2 !transition-all group"
    (click)="isExpanded = !isExpanded"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-8 stroke-primary-900 group-hover:scale-110 !transition-all"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15"
      />
    </svg>
  </button>
  @if (isExpanded) { @for (depth of availableDepths; track $index) {
  <button
    class="rounded-lg p-2 w-full !transition-all"
    (click)="changeDepthTo(depth)"
    [ngClass]="
      depth === selectedDepth
        ? 'font-semibold text-white bg-primary-900 cursor-default'
        : 'font-light text-primary-900 bg-transparent hover:bg-primary-100'
    "
  >
    {{ depth }}
  </button>
  } }
</div>
