<div class="w-full p-4 rounded-xl bg-gray-80">
  <img
    *ngIf="post.image"
    [src]="post.image"
    alt="Post image"
    class="rounded-md max-h-[500px] object-fill"
  />
  <h2 class="mt-1">{{ post.content }}</h2>
  <hr class="my-2" />
  <div class="flex flex-row place-content-between">
  <div style="display: flex; align-items: start">
    <p
      class="timestamp"
      style="margin-right: 10px"
    >
      {{ post.timestamp | date : "dd/MM/yyyy, H:mm" }}
    </p>
    <a
      class="author"
      style="margin: 0"
      href="explore/user/{{ post.authorNumber }}"
      >&#64;{{ post.author }}</a
    >
  </div>
    <div>
      <div *ngIf="!isLiked" (click)="likePost()">
        <fa-icon [icon]="faHeart" class="text-gray-400 text-l"></fa-icon>
      </div>
      <div *ngIf="isLiked" (click)="unlikePost()">
        <fa-icon [icon]="faHeart" class="text-secondary-500 text-l"></fa-icon>
      </div>
    </div>

  </div>
</div>
