<div
  class="flex flex-col w-40 h-full bg-secondary-100 bg-opacity-50 rounded-md p-3 items-center justify-center gap-2 border border-secondary-200 hover:bg-opacity-25"
>
  <!-- Profile Picture-->
  @if (user.avatar_url) {
  <img
    [src]="user.avatar_url"
    class="size-10 rounded-full"
  />
  } @else {
  <div class="size-10 rounded-full bg-secondary-900 flex justify-center items-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="size-7 fill-secondary-800"
    >
      <path
        fill-rule="evenodd"
        d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
        clip-rule="evenodd"
      />
    </svg>
  </div>
  }
  <div class="flex flex-col text-secondary-900 text-center font-medium">
    <div>{{ user.name }}</div>
    <div>{{ user.last_name }}</div>
  </div>

  @if (user.friendsInCommon && user.friendsInCommon > 0) {
  <div class="flex gap-1 text-secondary-900 text-center text-sm font-normal">
    <div>{{ user.friendsInCommon }}</div>
    <div>friends in common</div>
  </div>
  }

  <!-- Following Button -->
  <button
    (click)="onFollowClick()"
    [ngClass]="
      isFollowed
        ? 'text-white bg-secondary-900 hover:bg-secondary-950 stroke-white'
        : 'text-secondary-900 hover:bg-secondary-100 bg-transparent stroke-secondary-900'
    "
    class="flex gap-1 rounded-full border border-secondary-900 text-xs font-medium justify-center items-center py-1.5 px-2 !transition-all"
  >
    @if (isFollowed) {
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
      />
    </svg>
    Unfollow } @else {
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z"
      />
    </svg>
    Follow }
  </button>
</div>
